{% extends 'base.html' %} {% block content %}

<div class="container d-flex flex-column justify-content-center my-4 flex-wrap">
  <div class="row center">
    <div class="col-md-6 offset-md-3">
      <a
        class="text-decoration-none btn btn-primary"
        href="{{ url_for('view_circle') }}"
        >View Circle</a
      >
      <h1 class="text-center">Generate colors</h1>
      <form method="POST" name="button-gen-form">
        <input type="hidden" name="form_name" value="button-gen-form">
        <div class="form-group">
          <label for="size">Enter the size:</label>
          <input
            class="form-control my-2"
            type="number"
            id="size"
            name="num_buttons"
            placeholder="Enter the number of colors"
            min="1"
            max="200"
          />
        </div>
        <button
          class="btn btn-primary my-2 btn-sm"
          type="submit"
        >
          Generate colors
        </button>
      </form>
    </div>
  </div>
</div>

{% if buttons %}
<div class="container d-flex flex-column justify-content-center align-items-center my-4 flex-wrap">

  <h2>Colors generated:</h2>
  <div>
    {% for button in buttons %}
    <form method="POST" name="button-form">
      <input type="hidden" name="form_name" value="button-form">
    <input type="submit" class="btn m-2" style="background-color: {{ button }}" name="color" value="{{button}}">
    {% endfor %}
  </form>
</div>
</div>
{% endif %}

{% endblock content %}


